$royal-violet: #b946a3;
$royal-violet_hover: #c277b4;
$royal-violet_active: #824676;

$dangerous-red: #fd7575;

$typography-black: #000000; // this color should be fancier :)
$typography-white: #ffffff;
